#game
{
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    position: fixed;
    
    background-color: red;
}

@media(min-aspect-ratio: 4/3)
{
    #game
    {
        height: 100vh;
        width: 133.33vh;
    }
    
    :root
    {
        font-size: 5vh;
    }
}

@media(max-aspect-ratio: 4/3)
{
    #game
    {
        width: 100vw;
        height: 75vw;
    }

    :root
    {
        font-size: 3.75vw;
    }
}